@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

 .mapdetails-inner-one {
  margin-left: 305px;
  display: flex;
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .mapdetails-inner-one {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1199px) {
  .mapdetails-inner-one {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mapdetails-inner-one {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 767px) {
  .mapdetails-inner-one {
    margin-left: 100px;
    padding: 30px 0;
  }
}
@media only screen and (max-width: 575px) {
  .mapdetails-inner-one {
    margin-left: 0;
  }
}
.mapdetails-inner-one .single-wized {
  margin-right: 63px;
  width: 41%;
}
@media only screen and (max-width: 575px) {
  .mapdetails-inner-one .single-wized {
    margin-right: 30px;
  }
}
.mapdetails-inner-one .single-wized:last-child {
  margin-right: 0;
}
.mapdetails-inner-one .single-wized .title {
  position: relative;
  margin-bottom: 40px;
  min-width: max-content;
}
.mapdetails-inner-one .single-wized .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--color-primary);
}
.mapdetails-inner-one .single-wized:first-child {
  border-right: 1px solid #E4E4E4;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mapdetails-inner-one .single-wized:first-child {
    border: none;
  }
}
@media only screen and (max-width: 767px) {
  .mapdetails-inner-one .single-wized:first-child {
    border: none;
  }
}
@media only screen and (max-width: 575px) {
  .mapdetails-inner-one .single-wized:first-child {
    border-right: none;
  }
}
.mapdetails-inner-one.inner {
  max-width: 700px;
  margin: 0 auto;
}

.mapdetails-inner-one {
  display: flex;
}
@media only screen and (max-width: 575px) {
  .mapdetails-inner-one {
    flex-direction: column;
  }
}
@media only screen and (max-width: 575px) {
  .mapdetails-inner-one .left-area {
    margin-bottom: 30px;
  }
}
.mapdetails-inner-one .left-area .details p {
  margin-bottom: 3px;
  color: #5D666F;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.mapdetails-inner-one .left-area .details a.number {
  font-size: 16px;
  font-weight: 700;
  color: #1C2539;
  margin-bottom: 30px;
}
.mapdetails-inner-one .left-area .details p.time-header {
  margin-top: 30px;
  margin-bottom: 5px;
  color: #5D666F;
}
.mapdetails-inner-one .left-area .details p.time {
  color: #1C2539;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.mapdetails-inner-one .right-area .details p {
  margin-bottom: 3px;
  color: #5D666F;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.mapdetails-inner-one .right-area .details a {
  color: #1C2539;
  font-size: 16px;
  font-weight: 700;
}
.mapdetails-inner-one .right-area .details p.headoffice {
  margin-top: 24px;
}
.mapdetails-inner-one .right-area .details p.office {
  color: #1C2539;
  font-weight: 700;
}